<footer>
    <div class="clsCompanyEmail">
        <img src="images/mail_icon_footer.png" />
        <a href="mailto:hello@twobytes.com.au">hello@twobytes.com.au</a>
    </div>
    <div class="clsFooterPanel">
        <p>Copyright © 2014 Two Bytes Consulting. <b>Terms & Policies</b></p>
        <div class="clsSocialMedia">
            <div class="clsTweet">Tweet</div>
            <div class="clsCount arrow_box"><span class="clsTweetCount"> 692</span></div>
            <div class="clsFB">Like</div>
            <div class="clsCount clsFBCount arrow_box"><span class="clsFbCount"> 117</span></div>
        </div>
    </div>
</footer>
